/*header*/


.nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu .item + .item {
    margin-left: 50px;
}


.menu .item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    }


.contacts {
    display: flex;
    margin-left: auto;
    margin-right: 215px;
}

.contacts .item + .item {
    margin-left: 50px;
}

.webstudio {
    margin-left: 215px;
}

.menu .link:hover,
.menu .link:focus {
        color: var(--accent-color);}

/*color*/
/*text*/

/*main*/

/*filters*/
.filter-items {
    display: flex;
    align-items: center;
    margin-left: 495px;
    margin-right: 494px;
    border: 2px solid var(--accent-color)
    }

.filter-item:not(:last-child) {
    margin: 8px;
}


