html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --section-background-color: #F5F4FA;
    --footer-link-color: #ffffff60;
    --contact-text-color: #757575;
    --studio-text-color: #000000;
}

header {
    display: flex;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

li {
    list-style:
    none;
    }

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
    }

    /*nav*/

.menu, .nav a {
    text-decoration: none;
}

.menu {
    width: 294px;
    margin-left: 93px;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    padding: 0;
    justify-content:space-between;
    /*border: 5px solid #212121;*/
    
}

 .linka, .linkb {
    color: var(--contact-text-color);
    }

.linka:hover,
.linkb:focus {
    color: var(--accent-color);
    
}

.linka {
    margin-left: 331px;
    text-decoration: none;
    margin-top: 32px;
    border: 2px solid #212121
}
.linkb {
    margin-left: 50px;
    text-decoration: none;
    margin-top: 32px;
    border: 2px solid #212121
}

div {
    margin-top: 32px;
    margin-bottom: 32px;
}

.nav {
    margin-left: 215px;
    display: flex;
    }

.nav> a {
    margin-top: 24px;
    margin-bottom: 25px;
    }

.nav-web {
    color: var(--accent-color);
}

.nav-studio {
    color: var(--studio-text-color);
}    

.nav-web, .nav-studio {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
    }

.menu .link, .linka, .linkb{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
}

.menu .link:hover,
.menu .link:focus {
    color: var(--accent-color);
}

    /*hero*/

.hero {
    background-color: var(--secondary-background-color); 
}

.hero > .hero-title {
    color: var(--secondary-text-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    width: 696px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 452;
    margin-right: 452;
    border: 2px solid var(--accent-color)
           }

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
    
/*button*/

.button {
    color: var(--section-background-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1,9;

    border: none;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    padding: 10px 32px 10px 32px;
    font-size: 16px;
    font-weight: 700; 
}

.button {
    margin-top: 30px};
    
/*features*/

h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    /*text-transform: uppercase;*/
    vertical-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;}
        


ul.features-items {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 auto; 
        }

.features {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,46px;
    width: 1170px;
    margin-left: 215px;
    margin-right: 215px;
    display: flex;
    margin-top: 114px;
    border: 5px solid #212121;
}

.features-items {
        display: flex;
        text-align:left;
    }
 
   .features-item {
        
     width: 270px;
        height: 101px;
        /*justify-content:space-between;*/
        /*margin-right: 30px;*/    }

    .features-item {
        padding-left: 30px;
    }

    .features-item:first-child {
        padding-left: 0px;
    }
   
       /*work*/ 

.work-title {
    
    width: 376px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    margin: 0 auto;
    }

.work {
    
    width: 1170px;
    margin-left: 215px;
    margin-right: 215px;
    margin-top: 64px; 
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    border: 5px solid #212121;          }
         
.work-items {
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.work-item {
    width: 370px;
    position: relative;
    width: 370px;
    height: 100%;
    display: flex;
    align-items: center;
    display: flex;    
    justify-content: space-between;
    
}

.work-item > img {
    position: absolute;
    width: 100%;
}
    

       /*team*/

.team {
    background-color: var(--section-background-color);
    color: var(--primary-text-color);
    width: 1170px;
    align-items: center;
    margin-left: 215px;
    margin-right: 215px;
    margin-top: 104px;
}

.team-title {
    text-align: center;
    font-size: 36px;
    line-height: 1,16;
} 

.team-members {
    display: flex;
    justify-content: space-between;
    align-items: center;
     }

h4, .position {
    text-align: center;
    line-height: ;
}

.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,19;
    align-items: center;
    
        }

/*footer*/

.footer {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
}

.address {
    font-style: normal;
}

.footer a, .footer .link {
    text-decoration: none;
}

.footer-web {
    color: var(--accent-color);
}

.footer-studio {
    color: var(--secondary-text-color);
}

.footer-web .footer-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
}

.footer a {
    color: var(--secondary-text-color);
}

.footer .link {
    color: var(--footer-link-color);
} 

.footer .link, .address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
}


